/*=================== SƠ ĐỒ PHÒNG: begin ============*/
#sdp_main_working_window_id {
    position: relative;
    background-color: #e4e4e4;
    display: block;
}

.filter_sodophong {
    height: 5vh;
    background-color: #002b49;
    position: sticky;
    padding-left: 0.2rem;
    z-index: 0;
}

#filter_sodophong_info {
    margin-right: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}



#status_room_filter_sodophong_info, #floor_room_filter_sodophong_info {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 70%;
    margin-right: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
}

#number_room_filter_sodophong_info {
    height: 55%;
    margin-right: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
}

#search_for_filter_sodophong_info {
    height: 75%;
    width: 2.5rem;
    font-weight: 700;
    background-color: white;
    border-radius: 0.5rem;
}

/*=================== FILTER: end ============*/

.data_window_sodophong {
    overflow: scroll;
    height: 86.5vh;
    padding-left: 5px;
}

    .data_window_sodophong .floor_name {
        padding: 10px 0 5px 0px;
        font-weight: 500;
        font-size: 1.1rem;
    }

        .data_window_sodophong .floor_name span {
            font-weight: 500;
            font-size: 1.1rem;
        }

.list_room_of_floor {
    display: flex;
    flex-wrap: nowrap;
}

.room_in_list {
    color: white;
    cursor: pointer;
    margin-right: 10px;
    width: 200px;
    min-width: 200px;
    cursor: pointer;
    height: fit-content;
}

    .room_in_list:hover {
        opacity: 0.8;
        outline: 3px solid black;
        outline-offset: 3px;
    }

    .room_in_list.available_room {
        background-color: #185711;
    }

        .room_in_list.available_room .room_status_icon img.status_icon {
            content: url(../../image/SoDoPhongPage/available_room_icon.png);
        }

    .room_in_list.occupied_room {
        background-color: #9E0909;
    }

        .room_in_list.occupied_room .room_status_icon img.status_icon {
            content: url(../../image/SoDoPhongPage/occupied_room_icon.png);
        }

    .room_in_list.outed_room {
        background-color: #E18700;
    }

        .room_in_list.outed_room .room_status_icon img.status_icon {
            content: url(../../image/SoDoPhongPage/outed_room_icon.png);
        }

    .room_in_list.returned_room {
        background-color: #515151;
    }

        .room_in_list.returned_room .room_status_icon img.status_icon {
            content: url(../../image/SoDoPhongPage/returned_room_icon.png);
        }

    .room_in_list.fixed_room {
        background-color: black;
    }

        .room_in_list.fixed_room .room_status_icon img.status_icon {
            content: url(../../image/SoDoPhongPage/fixed_room_icon.png);
        }

    .room_in_list div {
        width: 100%;
        pointer-events: none;
    }

.room_info_status_field {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .room_info_status_field div {
        padding: 5px;
    }

.room_in_list > *, .room_in_list * {
    font-size: 12px;
    font-weight: 500;
}

.room_status_in_list {
    text-align: right;
}

.status_icon {
    filter: invert(1);
    width: 12%;
    height: 12%;
    padding-right: 0.2rem;
}

.room_status_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .room_status_icon p {
        margin: 15px 0;
    }

.room_detail_field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
}

.room_type_in_list {
    text-align: left;
}

.room_number_people_in_list {
    text-align: right;
}

.room_detail_field .room_type_in_list {
    width: 63%;
    padding: 5px;
}

.room_detail_field .room_number_people_in_list {
    width: 37%;
    padding: 5px;
}
/* Màn hình sơ đồ phòng - end */
/*=================== SƠ ĐỒ PHÒNG: end ============*/
/*=================== CONTEXT MENU CỦA PHÒNG ĐÃ NHẬN: begin ============*/
#context_menu_sdp_id {
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    width: 150px;
    height: auto;
    position: absolute;
    display: none;
}

    #context_menu_sdp_id ul {
        margin: 0px;
        padding: 0px;
        text-align: center;
        list-style-type: none;
        text-indent: 0px;
    }

        #context_menu_sdp_id ul li {
            border-bottom: solid 1px #c9c9c9;
            height: 2rem;
            line-height: 2rem;
            cursor: pointer;
        }

            #context_menu_sdp_id ul li p {
                padding: 0;
                margin: 0;
                font-size: 0.8rem;
            }

            #context_menu_sdp_id ul li:hover {
                background-color: #c9c9c9;
            }
/*=================== CONTEXT MENU CỦA PHÒNG ĐÃ NHẬN: end ============*/
/*=================== CONTEXT MENU CỦA PHÒNG TRỐNG: begin ============*/
#context_menu_available_room_id {
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    width: 150px;
    height: auto;
    position: absolute;
    display: none;
}

    #context_menu_available_room_id ul {
        margin: 0px;
        padding: 0px;
        text-align: center;
        list-style-type: none;
        text-indent: 0px;
    }

        #context_menu_available_room_id ul li {
            border-bottom: solid 1px #c9c9c9;
            height: 2rem;
            line-height: 2rem;
            cursor: pointer;
        }

            #context_menu_available_room_id ul li p {
                padding: 0;
                margin: 0;
                font-size: 0.8rem;
            }

            #context_menu_available_room_id ul li:hover {
                background-color: #c9c9c9;
            }
/*=================== CONTEXT MENU CỦA PHÒNG TRỐNG: end ============*/


/*=================== POPUP ĐẶT PHÒNG MÀU XANH LÁ: begin ============*/
.receive_room_window_green_container {
    display: flex;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}

    .receive_room_window_green_container.show {
        pointer-events: auto;
        opacity: 1;
        transition: 0.3s ease;
    }

.receive_room_window_green {
    width: 65vw;
    position: relative;
    max-height: 100vh;
    top: -100vh;
    transition: 0.3s;
}

.receive_room_window_green_container.show .receive_room_window_green {
    top: 0;
    transition: 0.3s;
}

.header_receive_room_window_green {
    display: flex;
    background-color: #002b49;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header_name_receive_room_window_green, .header_name_receive_room_window_green span {
    font-weight: 500;
    margin: 0.5rem;
}

.header_close_receive_room_window_green {
    margin: 0.5rem;
    cursor: pointer;
    color: white;
}

.body_receive_room_window_green {
    background-color: white;
}

.info_receive_room_window_green {
    max-height: 85vh;
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.part_info_receive_room_window_green {
    border-top: 0.1rem solid #c9c9c9;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
}

.field_name_info_receive_room_window_green {
    font-size: 1rem;
    font-weight: 700;
}

.thongtinphong_field_receive_room_window_green {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0.5rem;
}

.data_thongtinphong_receive_room_window_green {
    display: flex;
    align-items: center;
}

    .data_thongtinphong_receive_room_window_green p {
        font-weight: 500;
        font-size: 0.8rem;
        width: 35%;
    }

    .data_thongtinphong_receive_room_window_green input {
        font-weight: 500;
        font-size: 0.8rem;
        border: 0.1rem solid black;
        height: 1.4rem;
        width: 50%;
    }

.data_thongtindatphong_receive_room_window_green {
    display: flex;
    align-items: center;
}

    .data_thongtindatphong_receive_room_window_green p {
        font-weight: 500;
        font-size: 0.8rem;
        width: 33%;
    }

    .data_thongtindatphong_receive_room_window_green input, .data_thongtindatphong_receive_room_window_green select {
        font-weight: 500;
        font-size: 0.8rem;
        border: 0.1rem solid black;
        height: 1.4rem;
        width: 55%;
    }

    .data_thongtindatphong_receive_room_window_green select {
        height: 1.7rem;
    }

    .data_thongtindatphong_receive_room_window_green input[type=datetime-local] {
        width: 56%;
    }

.thongtindatphong_field_receive_room_window_green {
    padding: 0.5rem;
}

    .thongtindatphong_field_receive_room_window_green .mini_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
    }

input:disabled {
    background-color: #c9c9c9;
}

.thoigiannhanphong_receive_room_window_green p {
    width: 20%;
}

.thoigiannhanphong_receive_room_window_green input[type=datetime-local] {
    width: 18%;
}

.receive_room_window_green_container.thaydoikhacho .thoigiannhanphong_receive_room_window_green input[type=datetime-local] {
    pointer-events: none;
    background-color: #c9c9c9;
}

#btn_add_info_customer_receivephong_green {
    background-color: #002b49;
    color: white;
}

    #btn_add_info_customer_receivephong_green:active {
        background-color: white;
        color: #002b49;
    }

#btn_add_info_customer_receivephong_green {
    border: 0.1rem solid #002b49;
    border-radius: 0.6rem;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 0.8rem;
    cursor: pointer;
    width: 25%;
    height: 2rem;
}



.info_customer_table_field_green {
    padding: 0.5rem;
}

.info_customer_table_green {
    border-collapse: collapse;
    margin: 0 auto;
    width: 98%;
}

.header_table_info_customer_green {
    background-color: #002b49;
    color: white;
}

.info_customer_table_green th, .info_customer_table_green td {
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.3rem;
    border-bottom: 0.1rem solid #c9c9c9;
}

#sum_price_food_order_green {
    border: none;
    text-align: right;
    font-weight: bold;
}

.function_receivephong_field_green {
    text-align: right;
    padding-right: 1rem;
}

#btn_confirm_receivephong_green, #btn_save_receivephong_green, #btn_cancel_receivephong_green:active {
    background-color: #002b49;
    color: white;
}

    #btn_cancel_receivephong_green, #btn_confirm_receivephong_green:active, #btn_save_receivephong_green:active {
        background-color: white;
        color: #002b49;
    }

#btn_confirm_receivephong_green, #btn_save_receivephong_green, #btn_cancel_receivephong_green {
    border: 0.1rem solid #002b49;
    border-radius: 0.6rem;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 0.8rem;
    cursor: pointer;
    width: 15%;
}

.receive_room_window_green_container.show.datphong #btn_save_receivephong_green {
    display: none;
}

.receive_room_window_green_container.show.thaydoikhacho #btn_confirm_receivephong_green {
    display: none;
}
/*=================== POPUP ĐẶT PHÒNG MÀU XANH LÁ: end ============*/