@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="icon" type="image/x-icon" href="~/image/LoginPage/logo.png">
    <title>Đăng nhập</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/Login/Login.css'>
</head>
<body>
    <main>
        <div class="container">
            <div class="background">
                <div class="overlay"></div>
            </div>
            <div class="content">
                <div class="headerform">
                    <img src="~/image/LoginPage/logo.png " alt="logo">
                    <p>Gloria</p>
                </div>
                <div class="field OldPass">
                    <div class="label">Mã nhân viên/CCCD/Email/SDT</div>
                    <input type="text" placeholder="Tên đăng nhập">
                </div>
                <div class="field NewPass">
                    <div class="label">Mật khẩu<span></span></div>
                    <input type="text" placeholder="Mật khẩu ">
                </div>
                <div>
                    <button class="validate">Đăng nhập</button>
                </div>
            </div>
            
            
        </div>
    </main>
    <script src="ViewInfo.js"></script>
</body>
</html>