@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="icon" type="image/x-icon" href="~/image/LoginPage/logo.png">
    <title>Đăng nhập</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/Login/Login.css'>
</head>
<body>
    <script>
        function rain() {
            let amount = 20;
            let body = document.querySelector('body');
            let i = 0;
            while (i < amount) {
                let drop = document.createElement('i');

                let size = Math.random() * 5;
                let delay = Math.random() * -20;
                let duration = Math.random() * 5;
                let posX = Math.floor(Math.random() * window.innerWidth);

                drop.style.width = 0.2 + size + 'px';
                drop.style.left = posX + 'px';
                drop.style.animationDelay = delay + 's';
                drop.style.animationDuration = 1 + duration + 's';
                body.appendChild(drop);

                i++;
            }
        }
        rain();
    </script>
    <main>
        <div class="container">
            <div class="background">
                <div class="overlay"></div>
            </div>
            <div class="content">
                <div class="headerform">
                    <img src="~/image/LoginPage/logo.png " alt="logo">
                    <p>Gloria</p>
                </div>
                <div class="field username">
                    <div class="label">Mã nhân viên/CCCD/Email/SDT</div>
                    <input type="text" placeholder="Tên đăng nhập" id="username">
                    <div id="error-username"></div>
                </div>
                <div class="field password">
                    <div class="label">Mật khẩu</div>
                    <input type="password" placeholder="Mật khẩu" id="password">
                    <div id="error-password"></div>
                </div>
                <div>
                    <button class="validate">Đăng nhập</button>
                </div>
            </div>
            
            
        </div>
    </main>
    <script src="~/js/Login/Login.js"></script>
</body>
</html>