.main_working_window {
    padding: 0;
    transition: all 0.5s;
    margin-left: 20.5%;
    height: 100%;
    overflow: auto;
}

.tracuuphong_main_window {
    display: block;
    background-color: white;
}

.main_working_window .tracuu_header {
    width: 100%;
    height: 50px;
    background: #002B49;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.main_working_window button {
    cursor: pointer;
}

.main_working_window .tracuu_btn {
    width: 152px;
    height: 33px;
    text-align: center;
    font-size: 20px;
}

.main_working_window select {
    width: 152px;
    height: 33px;
    font-size: 18px;
    text-align: left;
}


.main_working_window .add_role {
    float: left;
    width: 70%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: space-between;
    margin: 0px 14px;
}

.main_working_window .search {
    width: 342.55px;
    height: 33.33px;
    float: right;
    background-color: white;
    margin-right: 24.11px;
    margin-left: 16.44px;
}
#TenLoaiPhong_ {
    width: 500px;
    height: 33.33px;
    float: right;
    background-color: white;
    margin-right: 24.11px;
    margin-left: 16.44px;
}

#TrangThai_ {
    width: 500px;
    height: 33.33px;
    float: right;
    background-color: white;
    margin-right: 24.11px;
    margin-left: 16.44px;
}

.main_working_window input {
    border: none;
    width: 274.35px;
    height: 19.05px;
    margin-left: 10px;
    font-size: 20px;
}

.list_nv, .list_room {
    width: 100%;
    margin-top: 2px;
    border-collapse: collapse;
    overflow: auto;

}

.list_nv_heading, .list_room_heading {
    background-color: #0666A9;
    height: 32px;
    color: #fff;
}

.list_nv_body tr, .list_room_body tr {
    height: 48px;
    border-bottom: 1px solid #C8C8C8;
    text-align: center;
    overflow: auto
}

    .list_nv_body tr i, .list_room_body tr i {
        font-size: 20px;
    }

.data_cell {
    font-size: 14px;
    width: fit-content;
}

.nv_body_item__angle_button {
    border: none;
    background-color: var(--main-color);
    color: #fff;
    height: 32px;
    font-size: 1.4rem;
    color: black;
}

.room_body_item__angle_button {
    background: #9E0909;
    border-radius: 3px;
    width: 51px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: white;
    border: none;
}

.sua {
    background: #186711;
}


.btn.nv_body_item__angle_button:active {
    background-color: #003960;
}

i.fa-venus {
    color: #FF3076;
}

i.fa-mars {
    color: #83DEE9;
}

.room_profile_popup_window_container {
    display: flex;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
    overflow: auto;
}


    .room_profile_popup_window_container.show {
        pointer-events: auto;
        opacity: 1;
        transition: 0.5s ease;
    }
.room_profile_popup_window_container.show.suaphong #edit_button_room_popup {
    display: inline;
}
.room_profile_popup_window_container.show #add_info_popup_window_room_button {
    display: inline;
}
.room_profile_popup_window_container.show #edit_button_room_popup {
    display: none;
}
.room_profile_popup_window_container.show.suaphong #add_info_popup_window_room_button {
    display: none;
}
.room_profile_popup_window_container.show.suaphong #edit_button_room_popup {
    display: inline;
}

.require:after {
    content: "*";
    color: red;
    font-style: italic;
}

.ChuThich {
    margin-bottom: 0px;
    margin-top: 0px;
}

    .ChuThich:after {
        content: "  * : bắt buộc";
        color: red;
        font-style: italic;
    }


.room_profile_popup_window {
    width: 50vw;
    position: relative;
    max-height: 100vh;
    top: -100vh;
    transition: 0.3s;
}

.room_profile_popup_window_container.show .room_profile_popup_window {
    top: 0;
    transition: 0.3s;
}

.header_room_profile_popup_window {
    display: flex;
    background-color: #002b49;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header_name_room_profile_popup_window {
    font-weight: 500;
    margin: 0.5rem;
  
}

.header_close_room_profile_popup_window {
    margin: 0.5rem;
    cursor: pointer;
    color: white;
}

.body_room_profile_popup_window {
    background-color: white;
}

.content_room_profile_popup_window {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.code_room_profile_popup_window {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C8C8C8;
    padding-left: 2rem;
    padding-bottom: 0;
}

    .code_room_profile_popup_window p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        margin-right: 7px;
    }

    .code_room_profile_popup_window input {
        border: 1px solid #000000;
        box-sizing: border-box;
     
        width: 197px;
        text-align: left;
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 13px;
        line-height: 16px;
      
    }

#code_room_profile_popup_window {
    padding-top: 0.5rem;
}

.name_part_info_room_profile_popup_window {
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    padding-left: 2rem;
}


.data_info_room_profile_popup_window_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 2rem;
}

.data_info_room_profile_popup_window {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}

    .data_info_room_profile_popup_window p {
        font-weight: 500;
        font-size: 0.8rem;
        width: 78px;
    }

input.input_data_info_room_profile_popup_window {
    width: 197px;
    height: 27px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
}

select.input_data_info_room_profile_popup_window {
    width: 197px;
    height: 27px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-left: 10px;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
}

.footer_room_profile_popup_window {
    background-color: white;
    border-top: 1px solid #C8C8C8;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .footer_room_profile_popup_window button {
        width: 104px;
        height: 34px;
        margin-right: 18px;
        background-color: white;
        color: #002B49;
        font-size: 13px;
        font-family: 'Montserrat';
        font-style: normal;
        line-height: 16px;
        border-radius: 10px;
        border: 2px solid #002B49;
        font-weight: bold;
    }

        .footer_room_profile_popup_window button:hover {
            background-color: #002B49;
            color: white;
        }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
