/* Màn hình làm việc của mục Danh sách hóa đơn - begin */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.filter_dshoadon {
    height: 6vh;
    background-color: #002b49;
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding-left: 0.2rem;
    z-index: 0;
    align-items: center;
}

#btn_create_new_receipt_dshoadon_main_working_window {
    font-weight: 700;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.4rem;
    cursor: pointer;
    height: 35px;
    margin-left: 10px;
    border-radius: 5px;
}

    #btn_create_new_receipt_dshoadon_main_working_window:active {
        background-color: #c9c9c9;
    }

#filter_dshoadon_info {
    margin-right: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#date_of_receipt_filter_dshoadon_info {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 58%;
    margin-right: 1.5rem;
    font-size: 0.8rem;
    font-weight: 500;
}

#enter_receipt_code_filter_dshoadon_info {
    height: 55%;
    margin-right: 1.5rem;
    font-size: 0.8rem;
    font-weight: 500;
}

#search_for_filter_dshoadon_info {
    height: 80%;
    width: 4rem;
    font-weight: 500;
    border-radius: 5px;
}
button#search_for_filter_dshoadon_info:active{
    background-color: #c9c9c9;
}



.data_window_dshoadon {
    height: 86vh;
    padding: 5px;
    background-color: #e4e4e4;
}

.header_list_receipt_table_data_window_dshoadon {
    background: #0666A9;
    color: white;
}

.list_receipt_table_data_window_dshoadon {
    background-color: white;
    border-collapse: collapse;
    border: 0.1rem solid #002B49;
    width: 100%;
}

    .list_receipt_table_data_window_dshoadon thead {
        display: table;
        width: 100%;
    }

    .list_receipt_table_data_window_dshoadon tbody {
        display: block;
        width: 100%;
        overflow-y: overlay;
        max-height: 80vh;
    }

        .list_receipt_table_data_window_dshoadon tbody tr {
            display: table;
            width: 100%;
        }
        .list_receipt_table_data_window_dshoadon tbody tr:hover {
            background-color: #c9c9c9;
        }

.mahoadon_list_receipt_table_data_window_dshoadon {
    width: 10%;
}

.khachthanhtoan_list_receipt_table_data_window_dshoadon {
    width: 20%;
}

.nhanvienthanhtoan_list_receipt_table_data_window_dshoadon {
    width: 20%;
}

.thoigianxuat_list_receipt_table_data_window_dshoadon {
    width: 20%;
}

.tongsotien_list_receipt_table_data_window_dshoadon {
    width: 20%;
}

.print_btn_list_receipt_table_data_window_dshoadon {
    width: 10%;
}

.list_receipt_table_data_window_dshoadon th, .list_receipt_table_data_window_dshoadon td {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.4rem;
    border-bottom: 0.1rem solid #c9c9c9;
}

.btn_print_list_receipt_table_data_window_dshoadon {
    background-color: #002b49;
    color: white;
}

    .btn_print_list_receipt_table_data_window_dshoadon:active {
        background-color: white;
        color: #002b49;
    }

.btn_print_list_receipt_table_data_window_dshoadon {
    border: 0.1rem solid #002b49;
    border-radius: 0.6rem;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 0.8rem;
    cursor: pointer;
    width: 50%;
}
/* Màn hình làm việc của mục Danh sách hóa đơn - end */


/* Màn hình popup thêm mới hóa đơn - begin */
.add_receipt_window_popup_container {
    display: flex;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}

    .add_receipt_window_popup_container.show {
        pointer-events: auto;
        opacity: 1;
        transition: 0.3s ease;
    }

.add_receipt_window_popup {
    width: 60vw;
    position: relative;
    max-height: 100vh;
    top: -100vh;
    transition: 0.3s;
}

.add_receipt_window_popup_container.show .add_receipt_window_popup {
    top: 0;
    transition: 0.3s;
}

.header_add_receipt_window_popup {
    display: flex;
    background-color: #002b49;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header_name_add_receipt_window_popup {
    font-weight: 500;
    margin: 0.5rem;
}

.header_close_add_receipt_window_popup {
    margin: 0.5rem;
    cursor: pointer;
    color: white;
}

.body_add_receipt_window_popup {
    background-color: white;
}

.title_body_add_receipt_window_popup {
    padding: 0.5rem;
    margin: 0;
    font-weight: 700;
    text-align: center;
    width: 100%;
    color: #002b49;
    font-size: 1.2rem;
}

.info_body_add_receipt_window_popup {
    max-height: 85vh;
    overflow-y: scroll;
}

.field_name_in_info_body_add_receipt_window_popup {
    padding-top: 0.4rem;
    padding-left: 1rem;
    padding-bottom: 0.2rem;
    font-weight: 700;
    font-size: 1rem;
}

.thongtinhoadon_info_body_add_receipt_window_popup {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    padding: 0.5rem;
    border-bottom: 0.1rem solid #c9c9c9;
}

.data_field_in_thongtinhoadon_info_body_add_receipt_window_popup {
    display: flex;
    align-items: center;
    padding: 0.2rem;
}

    .data_field_in_thongtinhoadon_info_body_add_receipt_window_popup p {
        padding: 0.5rem;
        margin: 0;
        font-size: 0.8rem;
        font-weight: 500;
        width: 30%;
        text-align: left;
    }

    .data_field_in_thongtinhoadon_info_body_add_receipt_window_popup input {
        font-size: 0.8rem;
        font-weight: 500;
        border: 0.1rem solid black;
        height: 1.6rem;
        width: 50%;
    }

.search_idphong_info_body_add_receipt_window_popup {
    display: flex;
    align-items: center;
    padding: 0.2rem;
}

    .search_idphong_info_body_add_receipt_window_popup p {
        padding-left: 1rem;
        width: 15%;
        font-size: 0.8rem;
        font-weight: 500;
    }

    .search_idphong_info_body_add_receipt_window_popup #idphong_need_paid_id {
        font-size: 0.8rem;
        font-weight: 500;
        border: 0.1rem solid black;
        height: 1.6rem;
        width: 30%;
    }

#add_idphong_need_paid_into_receipt_id {
    margin-left: 3%;
    background-color: #002b49;
    color: white;
    font-size: 0.8rem;
    height: 1.9rem;
    width: 10%;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

    #add_idphong_need_paid_into_receipt_id:active {
        background-color: white;
        color: #002b49;
    }



.receipt_table_field_in_info_body_add_receipt_window_popup {
    padding: 0.6rem;
}

.header_table_in_info_body_add_receipt_window_popup {
    background: #002B49;
    color: white;
}

.receipt_table_in_info_body_add_receipt_window_popup {
    border-collapse: collapse;
    border: 0.1rem solid #002B49;
    width: 100%;
}

    .receipt_table_in_info_body_add_receipt_window_popup thead {
        display: table;
        width: 100%;
    }

    .receipt_table_in_info_body_add_receipt_window_popup tbody {
        display: block;
        width: 100%;
        overflow-y: scroll;
        max-height: 35vh;
    }

        .receipt_table_in_info_body_add_receipt_window_popup tbody tr {
            display: table;
            width: 100%;
        }

.stt_receipt_table_field_in_add_receipt_window_popup {
    width: 10%;
}

.service_receipt_table_field_in_add_receipt_window_popup {
    width: 15%;
}

.roomtype_receipt_table_field_in_add_receipt_window_popup {
    width: 15%;
}

.function_receipt_table_field_in_add_receipt_window_popup {
    width: 5%;
}

.checkin_receipt_table_field_in_add_receipt_window_popup, .checkout_receipt_table_field_in_add_receipt_window_popup {
    width: 27%;
}

.receipt_table_in_info_body_add_receipt_window_popup th, .receipt_table_in_info_body_add_receipt_window_popup td {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.4rem;
    border-bottom: 0.1rem solid #c9c9c9;
}

.receipt_table_in_info_body_add_receipt_window_popup .data_food_none_border {
    border: none;
}

.function_add_receipt_window_field {
    text-align: right;
    padding: 0.6rem;
}

#btn_export_add_receipt_window, #btn_cancel_add_receipt_window:active {
    background-color: #002b49;
    color: white;
}

    #btn_cancel_add_receipt_window, #btn_export_add_receipt_window:active {
        background-color: white;
        color: #002b49;
    }

#btn_export_add_receipt_window, #btn_cancel_add_receipt_window {
    border: 0.1rem solid #002b49;
    border-radius: 0.6rem;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 0.8rem;
    cursor: pointer;
    width: 15%;
}
/* Màn hình popup thêm mới hóa đơn - end */
/* Màn hình popup hóa đơn đã xuất - begin */
.receipt_export_print_popup_window_container {
    display: flex;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}

    .receipt_export_print_popup_window_container.show {
        pointer-events: auto;
        opacity: 1;
        transition: 0.3s ease;
    }

.receipt_export_print_popup_window {
    width: 80vw;
    position: relative;
    max-height: 100vh;
    top: -100vh;
    transition: 0.3s;
}

.receipt_export_print_popup_window_container.show .receipt_export_print_popup_window {
    top: 0;
    transition: 0.3s;
}

.body_receipt_export_print_popup_window {
    background-color: white;
}

    .body_receipt_export_print_popup_window p, .body_receipt_export_print_popup_window span {
        font-size: 0.8rem;
    }

.content_receipt_export_print_popup_window {
    overflow-y: overlay;
    padding: 2rem;
    max-height: 80vh;
}

.header_content_receipt_export_print_popup_window {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    align-items: center;
    justify-items: center;
}

    .header_content_receipt_export_print_popup_window p {
        margin: 0;
        padding: 0.5rem;
    }

#address_header_content_receipt_export_print_popup_window_id {
    text-align: left;
}

.email_sdt_header_content_receipt_export_print_popup_window {
    display: flex;
    justify-content: space-between;
}

#logo_header_content_receipt_export_print_popup_window {
    width: 100%;
    height: 100%;
    display: block;
}

#hotel_name_header_content_receipt_export_print_popup_window_id {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
}

#title_content_receipt_export_print_popup_window {
    text-align: center;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
}

.info_content_receipt_export_print_popup_window {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

    .info_content_receipt_export_print_popup_window p {
        margin: 0;
        padding-bottom: 0.5rem;
    }


.header_receipt_detail_table_content_receipt_export_print_popup_window {
    background: black;
    color: white;
}

.receipt_detail_table_content_receipt_export_print_popup_window {
    border-collapse: collapse;
    width: 100%;
}

    .receipt_detail_table_content_receipt_export_print_popup_window th, .receipt_detail_table_content_receipt_export_print_popup_window td {
        text-align: center;
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.4rem;
        border-bottom: 0.1rem solid #c9c9c9;
    }

    .receipt_detail_table_content_receipt_export_print_popup_window .data_food_none_border {
        border: none;
    }


.cal_price_content_receipt_export_print_popup_window {
    display: flex;
    justify-content: right;
}

.cal_price_detail_content_receipt_export_print_popup_window {
    display: flex;
    justify-content: space-between;
}

    .cal_price_detail_content_receipt_export_print_popup_window p {
        font-weight: 700;
        margin: 0;
        padding-top: 0.8rem;
        padding-left: 3rem;
    }




.function_receipt_export_print_popup_window_container {
    text-align: right;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 2rem;
}

#btn_print_receipt_export_print_popup_window_container, #btn_cancel_receipt_export_print_popup_window_container:active {
    background-color: #002b49;
    color: white;
}

    #btn_cancel_receipt_export_print_popup_window_container, #btn_print_receipt_export_print_popup_window_container:active {
        background-color: white;
        color: #002b49;
    }

#btn_print_receipt_export_print_popup_window_container, #btn_cancel_receipt_export_print_popup_window_container {
    border: 0.1rem solid #002b49;
    border-radius: 0.6rem;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 0.8rem;
    cursor: pointer;
    width: 10%;
}
/* Màn hình popup hóa đơn đã xuất - end */
