@{

    List<DotLuong> list_dotluong = ViewData["list_dotluong"] as List<DotLuong>;
}

<link rel='stylesheet' type='text/css' media='screen' href='~/css/Report/TinhLuong.css'/>
 <div class="TinhLuong_container">
            <!-- Code ở đây  -->
            <div class="filter_container">
                <ul class="nav">
                    <li class="btn radius_corner" id="datepicker_btn">
                        <!-- <a href="">01/2021</a> -->
                       <input type="month" id="month_picker" > 
                        
                    </li>
                    <li class="btn radius_corner" id="CreateBangLuong_id">Tính lương</a></li>
                    <li class="btn radius_corner" id="XemLuong_id">Xem lương</a></li>
                </ul> 
            </div>
            <div class="Report_main">
                <div class="Title">Các đợt lương</div>
                <div class="list_container">
                    <ul class="list"> 
                        <li>   
                           @* <span class="list_content">
                                <span class="report-date">Tháng 05/2021</span>
                                <span class="date-create-report">Thời gian lập: 10/6/2021</span>
                            </span>       
        
                            <span class="del_btn">
                                <i class="fa fa-trash"></i>
                            </span>   *@     
                    @{
                        if(list_dotluong != null)
                        {
                           foreach (var item in list_dotluong)
                                {
                                    <li id="@item.MaDotTraLuong"> 
                                        <span class="list_content" id="list_BaoCaoDoanhThu_id">
                                            <span id="report_MaBC" style="display: none">@item.MaDotTraLuong</span>
                                            <span class="report-date">Tháng 
                                                <span id="report_date_id">
                                                    @item.NgayTraLuong.ToString("MM/yyyy") </span>
                                                </span> 
                                            <span class="date-create-report">Thời gian lập: @item.Ngaylap.ToString("dd/MM/yyyy") </span>
                                        </span>       

                                        <span class="del_btn" id="del_btn_id">
                                            <i class="fa fa-trash"></i>
                                        </span>
                                    </li>
                                }
                        }
                    }
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    <script src="~/js/Report/DotLuong.js"></script>