@{
    Layout = "_Layout1";
}
@section content{
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/SoDoPhong/SoDoPhong.css'>
    <div id="sdp_main_working_window_id" class="working_window_by_option">
        <div class="filter_sodophong">
            <form id="filter_sodophong_info" action="/SoDoPhong/LoadDataForSoDoPhongByFilter">
                <select id="floor_room_filter_sodophong_info" name="tang">
                </select>
                <select id="status_room_filter_sodophong_info" name="trangThai">
                    <option selected hidden value="-1">Trạng thái phòng</option>
                    <option value="0">Phòng trống</option>
                    <option value="1">Đang thuê</option>
                    <option value="2">Đang sửa chữa</option>
                    <option value="3">Khách ra ngoài</option>
                    <option value="4">Đang dọn dẹp</option>
                </select>
                <input id="number_room_filter_sodophong_info" type="text" placeholder="Số phòng" name="soPhong">
                <button id="search_for_filter_sodophong_info" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        <div class="data_window_sodophong">
        </div>
    </div>
    <!-- Menu context của phòng đã đặt - begin -->
    <div id="context_menu_sdp_id">
        <ul>
        </ul>
    </div>
    <!-- Menu context của phòng đã đặt - end -->
    <!-- Popup nhận phòng màu xanh lá - begin -->
    <div class="receive_room_window_green_container" id="receive_room_window_green_container_id">
        <div class="receive_room_window_green">
            <div class="header_receive_room_window_green">
                <div class="header_name_receive_room_window_green">NHẬN PHÒNG - <span>0102</span></div>
                <i class="fa fa-close header_close_receive_room_window_green" style="font-size: 1.5rem;"
                   id="header_close_receive_room_window_green_id" onclick="Close_DatPhong_Popup()"></i>
            </div>
            <div class="body_receive_room_window_green">
                <div class="info_receive_room_window_green" id="info_receive_room_window_green_id">
                    <div class="part_info_receive_room_window_green">
                        <div class="thongtinphong_title_receive_room_window_green field_name_info_receive_room_window_green">
                            Thông tin phòng
                        </div>
                        <div class="thongtinphong_field_receive_room_window_green">
                            <div class="data_thongtinphong_receive_room_window_green">
                                <p>Loại phòng:</p>
                                <input type="text" disabled>
                            </div>
                            <div class="data_thongtinphong_receive_room_window_green">
                                <p>Số phòng:</p>
                                <input type="text" disabled>
                            </div>
                            <div class="data_thongtinphong_receive_room_window_green">
                                <p>Tầng:</p>
                                <input type="text" disabled>
                            </div>
                            <div class="data_thongtinphong_receive_room_window_green">
                                <p>Giá tiền:</p>
                                <input type="text" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="part_info_receive_room_window_green">
                        <div class="thongtindatphong_title_receive_room_window_green field_name_info_receive_room_window_green">
                            Thông tin đặt phòng
                        </div>
                        <div class="thongtindatphong_field_receive_room_window_green">
                            <div class="data_thongtindatphong_receive_room_window_green thoigiannhanphong_receive_room_window_green">
                                <p>Thời gian nhận phòng:</p>
                                <input type="datetime-local">
                            </div>
                            <div style="font-size: 0.8rem; font-weight: 500; margin: 15px 0px">
                                Thông tin khách ở
                            </div>
                            <div class="mini_grid">
                                <div class="data_thongtindatphong_receive_room_window_green thongtinkhacho">
                                    <p>CCCD:</p>
                                    <input type="text">
                                </div>
                                <div class="data_thongtindatphong_receive_room_window_green">
                                    <p>Họ tên:</p>
                                    <input type="text">
                                </div>
                                <div class="data_thongtindatphong_receive_room_window_green">
                                    <p>Loại KH:</p>
                                    <select>
                                    </select>
                                </div>
                                <div class="data_thongtindatphong_receive_room_window_green">
                                    <p>Địa chỉ:</p>
                                    <input type="text">
                                </div>
                                <div class="data_thongtindatphong_receive_room_window_green">
                                    <p>Từ ngày:</p>
                                    <input type="datetime-local" id="tungay_khachthuephong">
                                </div>
                                <button id="btn_add_info_customer_receivephong_green" onclick="Add_Info_Customer_Table()">Thêm</button>

                            </div>
                        </div>
                    </div>

                    <div class="info_customer_table_field_green">
                        <table class="info_customer_table_green" id="info_customer_table_green_id">
                            <colgroup>
                                <col style="width: 5%">
                                <col style="width: 15%">
                                <col style="width: 15%">
                                <col style="width: 14%">
                                <col style="width: 18%">
                                <col style="width: 14%">
                                <col style="width: 14%">
                                <col style="width: 5%">
                            </colgroup>
                            <thead>
                                <tr class="header_table_info_customer_green">
                                    <th>#</th>
                                    <th>Họ tên</th>
                                    <th>CCCD</th>
                                    <th>Loại khách hàng</th>
                                    <th>Địa chỉ</th>
                                    <th>Từ ngày</th>
                                    <th>Đến ngày</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="part_info_receive_room_window_green">
                        <div class="function_receivephong_field_green">
                            <button id="btn_confirm_receivephong_green" onclick="DatPhong_From_SDP()">Nhận phòng</button>
                            <button id="btn_save_receivephong_green" onclick="ThayDoiKhachO_From_SDP()">Lưu</button>
                            <button id="btn_cancel_receivephong_green" onclick="Close_DatPhong_Popup()">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Popup nhận phòng màu xanh lá - end -->
    @*<script src="~/js/SoDoPhong/SoDoPhong.js"></script>*@
}

    @section script{
        <script src="~/js/SoDoPhong/SoDoPhong.js"></script>
    }