
<link rel='stylesheet' type='text/css' media='screen' href='~/css/Report/ThongKeDoanhThu.css'>
<div class="ThongKeDoanhThu_container">
            <div class="filter_container">
                <button type="button" class="back_btn btn"> <img src="Icon/back.png" height ="30" width="30" /></button>
                <button type="button" class="print_btn btn"> <img src="Icon/print.png" height ="30" width="30" /></button>
                <!-- <i class="fa fa-caret-left header_return_staff_profile_popup_window btn" style="font-size: 1.5rem;" id="header_return_staff_profile_popup_window_id"></i>
                <i class="fa fa-print header_print_staff_profile_popup_window btn" style="font-size: 1.5rem;" id="header_print_staff_profile_popup_window_id"></i>
             -->
            </div>
            <div class="ChiTietDoanhThu_container">
                <div class="header_report">
                    <div class="~/image/ReportPage/account.png" id="avatar_img_staff_profile_popup_window" style="filter: invert(1);"> 
                    </div>
                    <div class="detail_header_report">
                        <div class="name_hotel">Gloria</div>
                        <div class="address_hotel">Địa chỉ: 3730 South Las Vegas Boulevard Las Vegas, NV 89158 </div>
                        <div class="Sdt_email">
                            <div class="sdt_hotel col col-half">SĐT: 0123456789</div>
                            <div class="mail_hotel col col-half">Email: gloria@gmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="title_report center_page title">Bảng báo cáo doanh thu các loại phòng</div>
                <div class="date_report center_page title">Tháng 2/2021</div>
                <div class="table_content">
                    <div class="table_Thu_container">
                        <div class="table_ThuLabel label">Bảng thu</div>
                        <table class="table_Thu table">
                            <thead>
                                <div class="header_table">
                                    <tr>
                                        <th>#</th>
                                        <th>Loại thu</th>
                                        <th>Tổng tiền</th>
                                    </tr>
                                </div>

                            </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Standard</td>
                                        <td>250.500.000 VNĐ</td>
                                        
                                    </tr>

                                <tr>
                                    <td>1</td>
                                    <td>Standard</td>
                                    <td>250.500.000 VNĐ</td>
                             
                                </tr>
                                </tbody>
                         </table>
                    </div>
                    <div class="table_Chi_container">
                        <div class="table_ChiLabel label">Bảng chi</div>
                        <table class="table_Chi table">
                            <thead>
                                <div class="header_table">
                                    <tr>
                                        <th>#</th>
                                        <th>Loại chi</th>
                                        <th>Tổng tiền</th>
                                    </tr>
                                </div>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Standard</td>
                                    <td>250.500.000 VNĐ</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="date center_page right_align">TP Hồ Chí Minh, ngày 10 tháng 03 năm 2021</div>
                <div class="position center_page right_align">Giám đốc tài chính</div>
                <div class="signature center_page right_align">Nguyễn Văn B</div>
            </div>
        </div>
        <script src="~/js/Report/ThongKeDoanhThu.js"></script>