<link rel='stylesheet' type='text/css' media='screen' href='~/css/Regulation/buttonStep.css'>
<link rel='stylesheet' type='text/css' media='screen' href='~/css/Regulation/ChangeRegulation.css'>

<div class='regulation-item'>
    <img src='~/image/Regulation/room.png'>
    <p>Loại phòng</p>
</div>
            <div class='regulation-item'>
                <img src='~/image/Regulation/customer.png'>
                <p>Loại khách</p>
            </div>
            <div class='regulation-item'>
                <img src='~/image/Regulation/maximum.png'>
                <p>Số khách tối đa</p>
            </div>
            <div class='regulation-item'>
                <img src='~/image/Regulation/extra.png'>
                <p>Phụ thu theo số khách</p>
            </div>
            <div class='regulation-item'>
                <img src='~/image/Regulation/index.png'>
                <p>Hệ số phụ thu</p>
            </div>
            <div class='regulation-item'>
                <img src='~/image/Regulation/start-end.png'>
                <p>CheckIn - CheckOut</p>
            </div>
            <div class='regulation-item'>
                <img src='~/image/Regulation/position.png'>
                <p>Chức vụ</p>
            </div>
            <div class='regulation-item'>
                <img src='~/image/Regulation/salary.png'>
                <p>Lương tối thiểu vùng</p>
            </div>
            <div class='popup-container'>
                <div class='popup'>
                    <div class='header-popup'>
                        <div></div>
                        <i class='fa fa-close'></i>
                    </div>
                    <div class='content-popup'>
                    </div>
                    <div class='footer-popup'>
                        <button class='blue-button'>Thay đổi</button>
                        <button class='cancel-button'>Hủy</button>
                    </div>
                </div>
                <div class='sub-popup-container'>
                    <div class='sub-popup'>
                        <div class='header-popup'>
                            <div></div>
                            <i class='fa fa-close'></i>
                        </div>
                        <div class='content-popup'>
                            
                        </div>
                        <div class='footer-popup'>
                            <button class='blue-button'>Thay đổi</button>
                            <button class='cancel-button'>Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='confirm-popup-container'>
                <div class='confirm-popup'>
                    <div class='header-popup'>
                        <div></div>
                        <i class='fa fa-close'></i>
                    </div>
                    <div class='content-popup'>
                        <div class='message'>
                        </div>
                    </div>
                    <div class='footer-popup'>
                        <button class='blue-button'>Xóa</button>
                        <button class='cancel-button'>Hủy</button>
                    </div>
                </div>
            </div>
            <script src='~/js/Regulation/ChangeRegulation.js'></script>